<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="doLogin()">
    <ion-row>
      <ion-col>
        <app-input [control]="email" label="Email" type="email" placeholder="jane@doe.com"></app-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-input [control]="password" label="Password" type="password" placeholder="**********"></app-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a [routerLink]="['/register']">Register</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="form.invalid" type="submit">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
